@tailwind base;
@tailwind components;
@tailwind utilities;

/*** Random style ***/
@layer base {
  html {
    @apply scroll-smooth overflow-x-hidden;
  }
  body {
    @apply bg-[#0B0B22] text-white;
  }
  .pageLinks a {
    @apply font-semibold py-[6px] px-4 rounded-lg hover:bg-glass duration-200;
  }
  a {
    @apply flex items-center;
  }
  .toast {
    @apply bg-[#0B0B22] text-white border border-glass;
  }
}
@layer utilities {
  .glass {
    background: rgba(11, 11, 34, 0.9);
    backdrop-filter: blur(87.5px);
  }
  .gradiant {
    position: absolute;
    z-index: -50;
    border-radius: 50%;
    transform: matrix(0.97, -0.24, 0.25, 0.97, 0, 0);
  }
  .circle {
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    filter: blur(5px);
  }
  .center {
    left: 50%;
    transform: translateX(-50%);
  }
}

/*** Documentation styling section ***/
@layer base {
  .doc p {
    @apply my-5 w-full;
  }
  .doc p,
  li,
  code {
    @apply lg:text-[16px] lg:leading-8 md:text-sm md:leading-9 text-xs leading-6;
  }
  .doc ul li {
    @apply list-disc my-3 mx-6;
  }
  .doc ol li {
    @apply list-decimal my-3 mx-6;
  }
  .doc a {
    @apply hover:underline text-primary inline;
  }
  .doc h2 {
    @apply lg:text-4xl md:text-3xl text-2xl font-bold mb-6 flex items-center cursor-pointer translate-x-[-45px];
  }
  .doc h3 {
    @apply lg:text-2xl md:text-xl text-lg font-bold mt-10 flex items-center cursor-pointer translate-x-[-42px];
  }
  .doc .docLine {
    @apply md:my-12 my-8 w-full h-[1px] bg-glass text-glass;
  }
  .doc pre {
    @apply my-5 w-full bg-glass py-4 px-6 rounded-lg overflow-auto;
  }
  .doc pre code {
    @apply w-full;
  }
  .doc table {
    @apply md:w-full w-full overflow-auto rounded-lg;
  }
  .doc table tbody {
    @apply w-full overflow-auto rounded-lg;
  }
  .doc table tr th {
    @apply md:text-[16px] text-xs md:py-4 py-2 px-3 text-start border border-glass bg-glass;
  }
  .doc table tr td {
    @apply md:text-[16px] text-xs py-3 px-3 border border-glass;
  }
  .doc table tr td:last-child {
    @apply md:!text-[16px] !text-[10px];
  }
  .doc img {
    @apply w-full my-5;
  }
}

/*** Editor styling section ***/
@layer base {
  .editorMenu button {
    @apply md:text-sm text-xs;
  }
  .editor .ProseMirror {
    @apply w-full min-h-[81vh] max-h-full bg-glass rounded-lg md:p-7 p-4 outline-none overflow-hidden;
  }
  .editor p {
    @apply lg:text-lg md:text-[16px] text-sm md:my-2 my-1 break-all;
  }
  .editor .ProseMirror h1 {
    @apply md:text-3xl text-2xl md:pb-3 pb-1 my-4 border-b border-glass break-all;
  }
  .editor .ProseMirror h2 {
    @apply md:text-2xl text-xl md:pb-3 pb-1 my-4 border-b border-glass break-all;
  }
  .editor .ProseMirror h3 {
    @apply md:text-[21px] text-lg my-3 break-all;
  }

  .editor ul,
  ol {
    @apply mx-3 my-5;
  }
  .editor ul li {
    @apply text-lg px-1 list-disc;
  }
  .editor ol li {
    @apply text-lg px-1 list-decimal;
  }

  .editor ul[data-type="taskList"] {
    @apply mx-0;
  }
  .editor ul[data-type="taskList"] li {
    @apply text-lg !list-none flex items-center list-outside;
  }
  .editor ul[data-type="taskList"] li label input {
    @apply ring-2 ring-white focus:bg-primary checked:ring-primary mr-4;
  }

  .editor blockquote p {
    @apply border-l-4 border-glass my-2 mx-3 py-1 px-2;
  }
  .editor blockquote p {
    quotes: "\201C""\201D""\2018""\2019";
  }

  /*** CodeBlock styling ***/
  .editor p code {
    @apply p-1 bg-glass rounded-md;
  }
  .editor .ProseMirror h1 code {
    @apply md:text-3xl text-2xl p-1 bg-glass rounded-md;
  }
  .editor .ProseMirror h2 code {
    @apply md:text-2xl text-xl p-1 bg-glass rounded-md;
  }
  .editor .ProseMirror h3 code {
    @apply md:text-[21px] text-lg p-1 bg-glass rounded-md;
  }
  .editor pre {
    @apply !bg-glass md:!p-5 !p-3 md:text-[16px] text-sm !rounded-lg;
  }
  .editor a {
    @apply !text-secondary inline;
  }

  /* style placeholder */
  .editor .ProseMirror p.is-empty::before,
  h1.is-empty::before,
  h2.is-empty::before,
  h3.is-empty::before,
  pre.is-empty::before {
    color: #adb5bd;
    content: attr(data-placeholder);
    padding: 0px 6px;
    height: 0;
    pointer-events: none;
    float: left;
  }
  .selection::-webkit-scrollbar-thumb {
    @apply bg-glass;
  }
  .selection button {
    @apply w-full md:my-2 my-3 text-start duration-500;
  }

  .inlineSelector button,
  .tableSelector button {
    @apply lg:text-[16px] md:text-sm text-xs p-2 hover:bg-glass rounded-md;
  }
  /***/
  .editor .ProseMirror table {
    @apply table-fixed m-0 overflow-hidden w-full border-collapse;
  }
  .editor .ProseMirror table td,
  .editor .ProseMirror table th {
    @apply border border-glass box-border min-w-[1em] py-2 px-1 relative align-top;
  }
  .editor .ProseMirror table th {
    @apply font-bold  text-left;
  }
  .editor .ProseMirror table p {
    @apply m-0;
  }
  .editor .ProseMirror .selectedCell:after {
    background: rgba(200, 200, 255, 0.4);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
  }
  .tableWrapper {
    padding: 1rem 0;
    overflow-x: auto;
  }
  /* editor Image stylig */
  .editor img {
    @apply cursor-pointer;
  }
  .editor p[style="text-align: center"]:has(img) {
    @apply flex flex-wrap justify-center items-center;
  }
  .editor p[style="text-align: right"]:has(img) {
    @apply flex flex-wrap justify-end items-center;
  }
  .editor p:has(img) {
    @apply flex flex-wrap justify-start items-center;
  }
  .editor p img {
    @apply mx-1 object-cover;
  }
  .editor .ProseMirror p img[style="text-align: center"] {
    @apply mx-auto;
  }
  .editor .ProseMirror p img[style="text-align: right"] {
    @apply block float-right;
  }
  .editor .ProseMirror p a:has(img) {
    @apply w-full inline;
  }
}
